<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBuoyInformationMapper">
    
    <resultMap type="SysBuoyInformation" id="SysBuoyInformationResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="informationFileName"    column="information_file_name"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSysBuoyInformationVo">
        select id, content, information_file_name, create_time from sys_buoy_information
    </sql>

    <select id="selectSysBuoyInformationList" parameterType="SysBuoyInformation" resultMap="SysBuoyInformationResult">
        <include refid="selectSysBuoyInformationVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="informationFileName != null  and informationFileName != ''"> and information_file_name like concat('%', #{informationFileName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysBuoyInformationById" parameterType="Long" resultMap="SysBuoyInformationResult">
        <include refid="selectSysBuoyInformationVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysBuoyInformation" parameterType="SysBuoyInformation" useGeneratedKeys="true" keyProperty="id">
        insert into sys_buoy_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="informationFileName != null">information_file_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="informationFileName != null">#{informationFileName},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSysBuoyInformation" parameterType="SysBuoyInformation">
        update sys_buoy_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="informationFileName != null">information_file_name = #{informationFileName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBuoyInformationById" parameterType="Long">
        delete from sys_buoy_information where id = #{id}
    </delete>

    <delete id="deleteSysBuoyInformationByIds" parameterType="String">
        delete from sys_buoy_information where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>