<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBuoyMapper">
    
    <resultMap type="SysBuoy" id="SysBuoyResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="jobStatus"    column="job_status"    />
        <result property="communicationFrequencyJobStatus"    column="communication_frequency_job_status"    />
        <result property="modulationTypeJobStatus"    column="modulation_type_job_status"    />
        <result property="communicationSystemJobStatus"    column="communication_system_job_status"    />
        <result property="communicationFrequencyJobParam"    column="communication_frequency_job_param"    />
        <result property="modulationTypeJobParam"    column="modulation_type_job_param"    />
        <result property="gainJobParam"    column="gain_job_param"    />
        <result property="sendControl"    column="send_control"    />
        <result property="receiverControl"    column="receiver_control"    />
        <result property="workHours"    column="work_hours"    />
        <result property="buoyType"    column="buoy_type"    />
        <result property="communicationMethod"    column="communication_method"    />
        <result property="upwardFrequency"    column="upward_frequency"    />
        <result property="downFrequency"    column="down_frequency"    />
        <result property="upwardPower"    column="upward_power"    />
        <result property="downPower"    column="down_power"    />
        <result property="upwardStandard"    column="upward_standard"    />
        <result property="downStandard"    column="down_standard"    />
        <result property="jobStatusFileName"    column="job_status_file_name"    />
        <result property="jobParamSendControlFileName"    column="job_param_send_control_file_name"    />
        <result property="jobParamReceiverControlFileName"    column="job_param_receiver_control_file_name"    />
        <result property="typeStatus"    column="type_status"    />
        <result property="buoyStartOrStop"    column="buoy_start_or_stop"    />
        <result property="buoyStartOrStopStatusBack"    column="buoy_start_or_stop_status_back"    />
        <result property="buoyStatus"    column="buoy_status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysBuoyVo">
        select id, code, job_status, communication_frequency_job_status, modulation_type_job_status, communication_system_job_status, communication_frequency_job_param, modulation_type_job_param, gain_job_param, send_control, receiver_control, work_hours, buoy_type, communication_method, upward_frequency, down_frequency, upward_power, down_power, upward_standard, down_standard, job_status_file_name, job_param_send_control_file_name, job_param_receiver_control_file_name, type_status, buoy_start_or_stop, buoy_start_or_stop_status_back, buoy_status, remark, create_by, create_time, update_by, update_time from sys_buoy
    </sql>

    <select id="selectSysBuoyList" parameterType="SysBuoy" resultMap="SysBuoyResult">
        <include refid="selectSysBuoyVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="jobStatus != null  and jobStatus != ''"> and job_status = #{jobStatus}</if>
            <if test="communicationFrequencyJobStatus != null  and communicationFrequencyJobStatus != ''"> and communication_frequency_job_status = #{communicationFrequencyJobStatus}</if>
            <if test="modulationTypeJobStatus != null  and modulationTypeJobStatus != ''"> and modulation_type_job_status = #{modulationTypeJobStatus}</if>
            <if test="communicationSystemJobStatus != null  and communicationSystemJobStatus != ''"> and communication_system_job_status = #{communicationSystemJobStatus}</if>
            <if test="communicationFrequencyJobParam != null  and communicationFrequencyJobParam != ''"> and communication_frequency_job_param = #{communicationFrequencyJobParam}</if>
            <if test="modulationTypeJobParam != null  and modulationTypeJobParam != ''"> and modulation_type_job_param = #{modulationTypeJobParam}</if>
            <if test="gainJobParam != null  and gainJobParam != ''"> and gain_job_param = #{gainJobParam}</if>
            <if test="sendControl != null  and sendControl != ''"> and send_control = #{sendControl}</if>
            <if test="receiverControl != null  and receiverControl != ''"> and receiver_control = #{receiverControl}</if>
            <if test="workHours != null  and workHours != ''"> and work_hours = #{workHours}</if>
            <if test="buoyType != null  and buoyType != ''"> and buoy_type = #{buoyType}</if>
            <if test="communicationMethod != null  and communicationMethod != ''"> and communication_method = #{communicationMethod}</if>
            <if test="upwardFrequency != null  and upwardFrequency != ''"> and upward_frequency = #{upwardFrequency}</if>
            <if test="downFrequency != null  and downFrequency != ''"> and down_frequency = #{downFrequency}</if>
            <if test="upwardPower != null  and upwardPower != ''"> and upward_power = #{upwardPower}</if>
            <if test="downPower != null  and downPower != ''"> and down_power = #{downPower}</if>
            <if test="upwardStandard != null  and upwardStandard != ''"> and upward_standard = #{upwardStandard}</if>
            <if test="downStandard != null  and downStandard != ''"> and down_standard = #{downStandard}</if>
            <if test="jobStatusFileName != null  and jobStatusFileName != ''"> and job_status_file_name like concat('%', #{jobStatusFileName}, '%')</if>
            <if test="jobParamSendControlFileName != null  and jobParamSendControlFileName != ''"> and job_param_send_control_file_name like concat('%', #{jobParamSendControlFileName}, '%')</if>
            <if test="jobParamReceiverControlFileName != null  and jobParamReceiverControlFileName != ''"> and job_param_receiver_control_file_name like concat('%', #{jobParamReceiverControlFileName}, '%')</if>
            <if test="typeStatus != null "> and type_status = #{typeStatus}</if>
            <if test="buoyStartOrStop != null  and buoyStartOrStop != ''"> and buoy_start_or_stop = #{buoyStartOrStop}</if>
            <if test="buoyStartOrStopStatusBack != null  and buoyStartOrStopStatusBack != ''"> and buoy_start_or_stop_status_back = #{buoyStartOrStopStatusBack}</if>
            <if test="buoyStatus != null  and buoyStatus != ''"> and buoy_status = #{buoyStatus}</if>
        </where>
    </select>
    
    <select id="selectSysBuoyById" parameterType="Long" resultMap="SysBuoyResult">
        <include refid="selectSysBuoyVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysBuoy" parameterType="SysBuoy" useGeneratedKeys="true" keyProperty="id">
        insert into sys_buoy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="jobStatus != null">job_status,</if>
            <if test="communicationFrequencyJobStatus != null">communication_frequency_job_status,</if>
            <if test="modulationTypeJobStatus != null">modulation_type_job_status,</if>
            <if test="communicationSystemJobStatus != null">communication_system_job_status,</if>
            <if test="communicationFrequencyJobParam != null">communication_frequency_job_param,</if>
            <if test="modulationTypeJobParam != null">modulation_type_job_param,</if>
            <if test="gainJobParam != null">gain_job_param,</if>
            <if test="sendControl != null">send_control,</if>
            <if test="receiverControl != null">receiver_control,</if>
            <if test="workHours != null">work_hours,</if>
            <if test="buoyType != null">buoy_type,</if>
            <if test="communicationMethod != null">communication_method,</if>
            <if test="upwardFrequency != null">upward_frequency,</if>
            <if test="downFrequency != null">down_frequency,</if>
            <if test="upwardPower != null">upward_power,</if>
            <if test="downPower != null">down_power,</if>
            <if test="upwardStandard != null">upward_standard,</if>
            <if test="downStandard != null">down_standard,</if>
            <if test="jobStatusFileName != null">job_status_file_name,</if>
            <if test="jobParamSendControlFileName != null">job_param_send_control_file_name,</if>
            <if test="jobParamReceiverControlFileName != null">job_param_receiver_control_file_name,</if>
            <if test="typeStatus != null">type_status,</if>
            <if test="buoyStartOrStop != null">buoy_start_or_stop,</if>
            <if test="buoyStartOrStopStatusBack != null">buoy_start_or_stop_status_back,</if>
            <if test="buoyStatus != null">buoy_status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="jobStatus != null">#{jobStatus},</if>
            <if test="communicationFrequencyJobStatus != null">#{communicationFrequencyJobStatus},</if>
            <if test="modulationTypeJobStatus != null">#{modulationTypeJobStatus},</if>
            <if test="communicationSystemJobStatus != null">#{communicationSystemJobStatus},</if>
            <if test="communicationFrequencyJobParam != null">#{communicationFrequencyJobParam},</if>
            <if test="modulationTypeJobParam != null">#{modulationTypeJobParam},</if>
            <if test="gainJobParam != null">#{gainJobParam},</if>
            <if test="sendControl != null">#{sendControl},</if>
            <if test="receiverControl != null">#{receiverControl},</if>
            <if test="workHours != null">#{workHours},</if>
            <if test="buoyType != null">#{buoyType},</if>
            <if test="communicationMethod != null">#{communicationMethod},</if>
            <if test="upwardFrequency != null">#{upwardFrequency},</if>
            <if test="downFrequency != null">#{downFrequency},</if>
            <if test="upwardPower != null">#{upwardPower},</if>
            <if test="downPower != null">#{downPower},</if>
            <if test="upwardStandard != null">#{upwardStandard},</if>
            <if test="downStandard != null">#{downStandard},</if>
            <if test="jobStatusFileName != null">#{jobStatusFileName},</if>
            <if test="jobParamSendControlFileName != null">#{jobParamSendControlFileName},</if>
            <if test="jobParamReceiverControlFileName != null">#{jobParamReceiverControlFileName},</if>
            <if test="typeStatus != null">#{typeStatus},</if>
            <if test="buoyStartOrStop != null">#{buoyStartOrStop},</if>
            <if test="buoyStartOrStopStatusBack != null">#{buoyStartOrStopStatusBack},</if>
            <if test="buoyStatus != null">#{buoyStatus},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysBuoy" parameterType="SysBuoy">
        update sys_buoy
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="jobStatus != null">job_status = #{jobStatus},</if>
            <if test="communicationFrequencyJobStatus != null">communication_frequency_job_status = #{communicationFrequencyJobStatus},</if>
            <if test="modulationTypeJobStatus != null">modulation_type_job_status = #{modulationTypeJobStatus},</if>
            <if test="communicationSystemJobStatus != null">communication_system_job_status = #{communicationSystemJobStatus},</if>
            <if test="communicationFrequencyJobParam != null">communication_frequency_job_param = #{communicationFrequencyJobParam},</if>
            <if test="modulationTypeJobParam != null">modulation_type_job_param = #{modulationTypeJobParam},</if>
            <if test="gainJobParam != null">gain_job_param = #{gainJobParam},</if>
            <if test="sendControl != null">send_control = #{sendControl},</if>
            <if test="receiverControl != null">receiver_control = #{receiverControl},</if>
            <if test="workHours != null">work_hours = #{workHours},</if>
            <if test="buoyType != null">buoy_type = #{buoyType},</if>
            <if test="communicationMethod != null">communication_method = #{communicationMethod},</if>
            <if test="upwardFrequency != null">upward_frequency = #{upwardFrequency},</if>
            <if test="downFrequency != null">down_frequency = #{downFrequency},</if>
            <if test="upwardPower != null">upward_power = #{upwardPower},</if>
            <if test="downPower != null">down_power = #{downPower},</if>
            <if test="upwardStandard != null">upward_standard = #{upwardStandard},</if>
            <if test="downStandard != null">down_standard = #{downStandard},</if>
            <if test="jobStatusFileName != null">job_status_file_name = #{jobStatusFileName},</if>
            <if test="jobParamSendControlFileName != null">job_param_send_control_file_name = #{jobParamSendControlFileName},</if>
            <if test="jobParamReceiverControlFileName != null">job_param_receiver_control_file_name = #{jobParamReceiverControlFileName},</if>
            <if test="typeStatus != null">type_status = #{typeStatus},</if>
            <if test="buoyStartOrStop != null">buoy_start_or_stop = #{buoyStartOrStop},</if>
            <if test="buoyStartOrStopStatusBack != null">buoy_start_or_stop_status_back = #{buoyStartOrStopStatusBack},</if>
            <if test="buoyStatus != null">buoy_status = #{buoyStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysBuoyById" parameterType="Long">
        delete from sys_buoy where id = #{id}
    </delete>

    <delete id="deleteSysBuoyByIds" parameterType="String">
        delete from sys_buoy where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>